@page "{id:int}"
@model ArticleWebSite.Pages.ArticleDetailModel
@{
}

<div class="col-12 mb-3">
    <h1></h1>
</div>
<div class="col-12 mb-3">
    <img  class="img-fluid">
</div>
<div class="col-12">
    <p class="article-content">
        
    </p>
</div>